.inline-editor {
    border:1px solid #d5d5d5;
    box-shadow:0 1px 1px #eee;
    position:relative;
    height:400px;
    border-radius:2px;
    margin-bottom:1.5em;
    overflow:hidden;
    clear:left
}
.inline-editor p {
    display:none
}
.inline-editor pre {
    display:none
}
.inline-editor .ace_editor {
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    bottom:0;
    white-space:pre;
    font-size:13px
}
.inline-editor .toolbar {
    position:absolute;
    height:28px;
    padding:10px;
    line-height:1;
    top:0;
    left:0;
    right:0;
    background-color:#e6e6e6;
    background-image:-webkit-linear-gradient(top, #ebebeb, #e3e3e3);
    background-image:-moz-linear-gradient(top, #ebebeb, #e3e3e3);
    background-image:linear-gradient(top, #ebebeb, #e3e3e3);
    border-bottom:1px solid #d5d5d5;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
    z-index:10;
    border-radius:2px 2px 0 0
}
.inline-editor .toolbar span {
    display:inline-block;
    margin-right:5px;
    padding:8px 16px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border:1px solid #d2d2d2;
    background-color:rgba(255, 255, 255, 0.15);
    cursor:pointer;
    text-transform:uppercase;
    border-radius:3px;
    box-shadow:0 1px 1px rgba(255, 255, 255, 0.3)
}
.inline-editor .toolbar span.active {
    background-color:#fff;
    cursor:default;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.03)
}
.inline-editor .toolbar .reset {
    width:18px;
    height:21px;
    background:url('http://cdn.tutorialzine.com/wp-content/themes/tzine/img/sprite.jpg') 0 -640px;
    position:absolute;
    top:13px;
    right:15px;
    cursor:pointer;
    opacity:0.6
}
.inline-editor .toolbar .reset:hover {
    opacity:0.75
}
.inline-editor .button {
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:16px;
    z-index:10
}
.inline-editor .result {
    position:absolute;
    background-color:#fff;
    border-radius:2px;
    width:100%;
    height:100%;
    top:100%;
    left:0;
    z-index:20
}
.inline-editor .result iframe {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    border-radius:2px 2px 0 0;
    border-bottom:1px solid #ddd
}
.inline-editor .result .inline-log {
    position:absolute;
    bottom:0;
    left:0;
    right:115px;
    height:65px;
    padding:10px 10px 10px 15px;
    overflow-y:auto;
    overflow-x:hidden;
    color:#666
}
.inline-editor .result .error {
    color:#c22;
    font-size:12px;
    margin-bottom:2px
}
.inline-editor .result .log {
    font-size:12px;
    margin-bottom:2px
}
.inline-editor ::-webkit-scrollbar {
    width:7px;
    height:10px;
    background-color:#fff
}
.inline-editor ::-webkit-scrollbar-thumb {
    background:#bbb;
    border:3px solid #fff;
    border-left:none
}
.inline-editor ::-webkit-scrollbar-thumb:window-inactive {
    background:#ddd
}
.inline-editor .button.blue {
    display: inline-block;
    text-transform: uppercase;
    padding: 1em 1.5em 0.75em;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    color: #fff !important;
    text-decoration: none;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    background-color: #93d0ea;
    box-shadow: 0 0 5px #8fcde7 inset, 0 1px 1px #eee;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    z-index: 10;
}