@charset "UTF-8";
/**
* @file:      Neat.css
* @author:    一丝
* @update:    2016年08月10日22:05:05
* @copyright: 基于 normalize.css | MIT License
*/
/**
* Neat.css 解决的问题
* 基于业务需要兼容的浏览器做到以下几点：
* 1.解决BUG，特别是低级浏览器的常见BUG；
* 2.统一效果，但不盲目追求重置为0；
* 3.向后兼容；
* 4.考虑响应式；
* 5.考虑移动设备。
*/
/* ==========================================================================
 有即是无，无即是有
 ========================================================================== */
body, dl, dd,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0;
}

/**
* 非大面积文字排版网站通常不需要列表项，如果需要可单独设置
*/
ul, ol {
  list-style-type: none;
  list-style-image: none;
}

/* ==========================================================================
 链接
 ========================================================================== */
/**
* 1. 去除链接默认的下划线，提高文字可读性
* 2. 去掉 IE 10+ 点击链接时的灰色背景
*/
a {
  text-decoration: none;
  /* 1 */
  background-color: transparent;
  /* 2 */
}

/**
* 去掉点击时的焦点框，同时保证使用键盘可以显示焦点框
*/
a:active,
a:hover {
  outline-width: 0;
}

/**
* 统一 Chrome 和 Safari 的焦点框样式
* Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
* Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
*
*/
a:focus {
  outline: 1px dotted;
}

/* ==========================================================================
 字体和基础排版
 ========================================================================== */
/**
* 1.防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常
*/
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 1 */
  font-size: 62.5%;
  /* 10/16=62.5% */
}

body {
  font-size: 14px;
  line-height: 1.8;
}

/**
* 所有 font-family 小写，存在空格的字体名加单引号
* @default-font: 'helvetica neue', tahoma, \5B8B\4F53, sans-serif;
* @heading-font: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti,
  \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, 'wenquanyi micro hei', sans-serif;
* @code-font: monaco, menlo, consolas, monospace;
*/
/**
* 中文优先使用冬青黑体简体(OS X)、微软雅黑(Windows)和文泉驿微米黑(Linux)
* 西文使用 tahoma
* 1. 防止元素中「font-family」不能继承
* 2. 西文字体和 OS X 字体写在前面
* 3. Opera 12.1 之前版本不支持中文字体的英文名称
* 4. 微软雅黑「\5FAE\8F6F\96C5\9ED1」,中易宋体「\5B8B\4F53」
*/
body,
button,
input,
select,
textarea {
  font-family: 'helvetica neue', arial, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */
  text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  /* 5 */
}

/**
* 中文小于 12px 可读性很差
* 1. 统一 IE 6-7 中字体大小
* 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/**
* 修正「abbr」元素在 Firefox 外其他浏览器没有下划线的问题
* 添加问号光标，明确语义
*/
abbr,
acronym {
  border-bottom: 1px dotted;
  /* 1 */
  cursor: help;
  /* 2 */
}

/**
* Firefox3+，Safari4/5 和 Chrome 中统一设置为粗体
*/
b,
strong {
  font-weight: bold;
}

/**
* 修正 Safari5 和 Chrome 中没有样式的问题
*/
dfn {
  font-style: italic;
}

/**
* 修正 Firefox 和其他浏览器之间的差异
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
* 网页标记，荧光笔
* 修正 IE6-11 中没有样式的问题
*/
mark {
  background-color: #d2e5ff;
  color: #000;
}

/**
* 统一代码的字体设置
* 字体要能明确区分数字 0 和字母 o
* Mac 优先使用 Monaco，Windows 优先使用 Consolas
* XP自带 Courier New
* Windows 7开始自带的 Consolas
* Mac上自带的Monaco，Osaka-Mono
*/
code,
kbd,
pre,
samp {
  font-family: monaco, menlo, consolas, 'courier new', courier, monospace;
}

/**
* 增强所有浏览器中 pre 标签中文本的可读性
* 1. IE 6-7 不支持 pre-wrap
* 2. pre 标签应当包含滚溢出
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  /* 1 */
  word-wrap: break-word;
  overflow: auto;
}

/**
* 行内引用
* IE 6-7 不支持 quotes 属性
* 现代浏览器去除 quotes 内容
*/
q {
  quotes: none;
}

/**
* Safari 4 不支持<q>标签
*/
q:before,
q:after {
  content: '';
  content: none;
}

/**
* 中文网页<small>元素字号小于 12px 不易阅读
*/
small {
  font-size: 85.7%;
  /* 12/14=0.8571428571 */
}

/**
* 防止所有浏览器中的<sub>和<sup>影响行高
* http://jsbin.com/usoyal/1/edit
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* ==========================================================================
 表格
 ========================================================================== */
/**
* 合并单元格边框
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* 修复 IE 中 th 不能继承 text-align 的问题并统一左对齐
* http://jsbin.com/evoxif/2/edit
*/
th {
  text-align: left;
}

/**
* 单元格添加边框
*/
table th,
table td {
  border: 1px solid #ddd;
  padding: 8px 10px;
}

/**
* 表头底部边框
*/
table th {
  font-weight: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
}

/* ==========================================================================
 嵌入元素
 ========================================================================== */
/**
* 1. 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框
* 2. 修正 IE8 图片消失bug
* 3. 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形
    http://jsbin.com/aJoTUca/2
* 4. 让图片支持响应式
* 5. 去除现代浏览器图片底部的空隙
* 6. 修复 IE7 图片缩放失真
*/
img {
  border-style: none;
  /* 1 */
  width: auto\9;
  /* 2 */
  height: auto;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: top;
  /* 5 */
  -ms-interpolation-mode: bicubic;
  /* 6 */
}

/**
* 修复 IE9 中的「overflow」的怪异表现
*/
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 表单
 ========================================================================== */
/**
* 定义一致的边框、外边距和内边距
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/**
* 1. 修正 IE 6-9 中颜色不能继承的问题
* 2. 修正 Firefox3 中文字不换行的问题
* 3. 修正 IE6-7 中怪异的对齐方式
*/
legend {
  border-style: none;
  /* 1 */
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
* 1. 修正所有浏览器中字体不继承的问题
* 2. 修正所有浏览器中字号不继承的问题
* 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题
* 4. 改善在所有浏览器下的垂直对齐方式
*/
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */
}

/**
* 修正 IE7 随着字数增加边距不断增加的问题
*/
input,
button {
  *overflow: visible;
}

/**
* 统一各浏览器「text-transform」不会继承的问题
* http://jsbin.com/iqecic/1/edit
* http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/
*/
button,
select {
  text-transform: none;
}

/**
* 1. 避免 Android 4.0.* 中的 WebKit bug ，该bug会破坏原生的
 「audio」 和「video」的控制器
* 2. 更正 iOS 中无法设置可点击的「input」的问题
* 3. 统一其他类型的「input」的光标样式
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* 重置按钮禁用时光标样式
*/
button[disabled],
input[disabled] {
  cursor: default;
}

/**
* 1. 修正 IE 8/9 box-sizing 被设置为「content-box」的问题
* 2. 移除 IE 8/9 中多余的内边距
* 3. 移除 IE7 中多余的内边距(IE6 中任然存在)
*/
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
* 1. 修正 Safari 5 和 Chrome 中「appearance」被设置为「searchfield」的问题
* 2. 修正 Safari 5 和 Chrome 中「box-sizing」被设置为 「border-box」的问题
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/**
* 1.移除 OS X 中 Safari5 和 Chrome 搜索框内侧的左边距
* 2.如果需要隐藏清除按钮需要加上
 input[type="search"]::-webkit-search-cancel-button
*/
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 移除 Firefox 3+ 的内边距
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* 修正 Chrome 中 input [type="number"] 在特定高度和 font-size 时,
* 下面一个箭头光标变成「cursor: text」
* @demo: http://jsfiddle.net/FFXEc/
* 动画演示：http://gtms04.alicdn.com/tps/i4/T18kd8FCtaXXc_FhcF-330-350.gif
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. 移除 IE6-11 中默认的垂直滚动条
* 2. 禁止水平拖动，防止破坏布局
*/
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
* 修正 Chrome 30- option 中文字无法显示的问题
* http://jsbin.com/avujas/1/edit
*/
select:disabled option:checked,
option:disabled:checked {
  color: #d2d2d2;
}

/**
* 修正 Safari 3+, Chrome 1+ Placeholder 居中问题
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important;
  }
}

/**
* 修正 Firefox 19+ Placeholder 设置了opacity 的问题
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  color: darkGray;
  opacity: 1;
}

/**
* label 元素给予手型，暗示此处可点击
*/
label {
  cursor: pointer;
}

/**
* 统一 select 样式, Firefox 中有 padding:1px 0
* http://jsbin.com/avujas/1/edit
*/
select[size],
select[multiple],
select[size][multiple] {
  border: 1px solid #aaa;
  padding: 0;
}

/* ==========================================================================
 HTML5 元素
 ========================================================================== */
/**
* 修正未定义为「block」的元素
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
* 1. 修正未定义为「inline-block」的元素
* 2. 修正 Chrome、Firefox、Opera 中 「progress」元素 vertical-align 默认值不一致
*/
audio,
canvas,
video,
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* 1.防止现代浏览器将没有「controls」属性的 「audio」元素显示出来
* 2.去掉 iOS 5 中多余的高度
*/
audio:not([controls]) {
  display: none;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
* 修复 IE 7/8/9，Firefox 3 和 Safari 4 中 「hidden」属性不起作用的问题
* 在IE、Safari、Firefox 22- 中隐藏「template」元素
*/
[hidden], template {
  display: none;
}

/**
* 为可拖动元素添加拖动的光标
* http://jsbin.com/apavod/1/edit
*/
[draggable] {
  cursor: move;
}

/*
* 基础布局
* @ Name:        layout.css V1.0.0
* @ Author:      一丝
* @ Update:      2013-9-30 15:39:51;
* @ Copyright:   MIT License
*/
/*
*@ Name:       inline-block 组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:      清除空隙需在外层容器加上 dib-box，dib 可单独使用
*/
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.dib-box {
  font-size: 0;
  /* 所有浏览器 */
  *word-spacing: -1px;
  /* IE6/7 */
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .dib-box {
    letter-spacing: -5px;
    /* Safari 5- 等不支持 font-size: 0 的浏览器 */
  }
}

.dib-box .dib {
  vertical-align: top;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: inherit;
}

/*
*@ Name:        自适应两端对齐组件
*@ Author:      一丝
*@ Update:      2013-9-29 16:05:04
*@ Rely：       依赖 inline-block 解决方案
*@ Usage:       外层加上 justify，内部需要两端对齐的元素都加上 dib,dib 与 justify 不要同时出现
*@ Demo:        http://jsbin.com/OsEcOMA/1/
*/
/**
* 防止行高增大
* 尽量不要在父元素上设置行高
*/
.justify,
.dib-box .justify {
  font-size: 0;
  line-height: inherit;
}

.justify {
  text-align: justify;
  text-justify: inter-ideograph;
  /* IE 6-7 */
  *zoom: 1;
  /* IE 6-7 触发 hasLayout 使一行也能两端对齐 */
  -moz-text-align-last: justify;
       text-align-last: justify;
  /* IE 8+ */
}

/**
* 不支持 text-align-last 的浏览器用伪元素模拟
* 1. margin-left:100% 仅 WebKit 支持
*/
.justify:after {
  content: "";
  display: inline-block;
  width: 100%;
  /* 1 */
}

/* 子元素取消两端对齐 */
.justify .dib {
  -moz-text-align-last: auto;
       text-align-last: auto;
  text-justify: auto;
  text-align: left;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}

/*
*@ Name:       CSS 三角形组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:
*/
.arrow {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: -2px;
  border: 0 dashed transparent;
  border-width: 6px;
}

.arrow-top {
  border-bottom-style: solid;
  border-bottom-color: #2ab2df;
}

.arrow-bottom {
  border-top-style: solid;
  border-top-color: #2ab2df;
}

.arrow-left {
  border-right-style: solid;
  border-right-color: #2ab2df;
}

.arrow-right {
  border-left-style: solid;
  border-left-color: #2ab2df;
}

/* ◤左上角 */
.arrow-left-top {
  border-top-style: solid;
  border-top-color: #2ab2df;
  border-left-width: 0 !important;
}

/* ◥右上角 */
.arrow-right-top {
  border-top-style: solid;
  border-top-color: #2ab2df;
  border-right-width: 0 !important;
}

/* ◣左下角 */
.arrow-left-bottom {
  border-bottom-style: solid;
  border-bottom-color: #2ab2df;
  border-left-width: 0 !important;
}

/* ◢右下角 */
.arrow-right-bottom {
  border-bottom-style: solid;
  border-bottom-color: #2ab2df;
  border-right-width: 0 !important;
}

/*
*@ Name:       替换元素等比缩放组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:      不同的视频网站由于控制栏高度不同，需要JS配合添加对应的 class
*/
.fluid-media {
  position: relative;
}

/* 容器 */
.fluid-media div,
.fluid-media video,
.fluid-media embed,
.fluid-media object,
.fluid-media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 常见的视频比例 */
.widescreen {
  padding-bottom: 56.25%;
  /* 宽屏 16:9=56.25% */
}

.narrowscreen {
  padding-bottom: 75%;
  /* 窄屏 4:3=75% */
}

/* 播放器控制栏的高度，更多网站按需扩展 */
.youku {
  padding-top: 40px;
  /* 优酷 */
}

.wole {
  padding-top: 40px;
  /* 我乐 56.com */
}

.tudou {
  padding-top: 50px;
  /* 土豆 */
}

.iqiyi {
  padding-top: 45px;
  /* 爱奇艺 */
}

.youtube {
  padding-top: 30px;
  /* Youtube */
}

/*
*@ Name:       未知高度垂直居中组件
*@ Author:     一丝
*@ Update:     2013-10-13 17:08:36
*@ Usage:      支持图片，单行或多行文字，以及图文混排
*/
/* 去除 inline-block 的空隙 */
.center-box {
  font-size: 0;
  *word-spacing: -1px;
  /* IE6、7 */
  height: 100%;
  /* 继承父级高度 */
}

/* 修复 Safari 5- inline-block 的空隙 */
@media (-webkit-min-device-pixel-ratio: 0) {
  .center-box {
    letter-spacing: -5px;
  }
}

/* 使用空标签生成一个高度100%的参照元素 */
.center-box .center-hack {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.center-box .center-body {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  vertical-align: middle;
  /* 保证文字垂直居中 */
  padding: 0 !important;
  /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  width: 100%;
  /* 保证连续字符也能居中 */
  white-space: normal;
  /* 保证连续字符换行 */
  word-wrap: break-word;
}

.center-box .center-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-align: center;
  /* 图片默认水平居中 */
  vertical-align: middle;
  padding: 0 !important;
  /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  font-size: 0;
}

.center-box img {
  vertical-align: middle;
  /* 去除现代浏览器 img 底部空隙 */
}

/* ==========================================================================
 基础工具
 *@ Name:        utils.css V1.0.0
 *@ Author:      一丝
 *@ Update:      2013-9-30 15:39:57;
 *@ Copyright:   MIT License
 ========================================================================== */
/**
* 闭合浮动
* @Author: 一丝
* @Doc: http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /* IE6-7 触发 hasLayout */
}

/*
*@ Name:       自适应图文混排组件
*@ Update:     2013-9-29 19:23:27
*@ Usage:      如果有溢出的内容需要显示请使用 clearcell
*@ demo:       http://jsbin.com/EMIvoJohU/1/edit
*/
.clearall {
  overflow: hidden;
  /* stylelint-disable */
  _overflow: visible;
  /* stylelint-enable */
  *zoom: 1;
}

.clearcell {
  display: table-cell;
  *zoom: 1;
}

.clearcell:after {
  clear: both;
  display: block;
  visibility: visible;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* 强制不换行 */
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

/* 连续字符换行 */
.wrap {
  white-space: normal;
  word-wrap: break-word;
}

.hidden, .hide {
  display: none;
}

/**
* 文字溢出显示省略号
* 1. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
*/
.ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  /* 2 */
}

/* --------------------------------------------------------------------------
 图片替换
 -------------------------------------------------------------------------- */
/** 隐藏文字
* 1.text-indent:-999em 存在性能问题：
*   http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
*/
.text-hide {
  text-indent: 100%;
  /* 1 */
  white-space: nowrap;
  overflow: hidden;
}

/**
* 裁剪方式隐藏元素
* 1. IE6-8 有严重漏洞，请勿使用 https://www.hkcert.org/my_url/zh/101104_ms_ie_css_tagparsing_vuln
* 2. VoiceOver 无法读出宽高为 0 的元素
*/
.clip-hide {
  position: absolute !important;
  /* clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  /* 1 */
  padding: 0 !important;
  border: 0 none !important;
  height: 1px !important;
  /* 2 */
  width: 1px !important;
  overflow: hidden;
}

/* img replace，通过定位方式隐藏内容 */
.ir {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.ir-bg {
  position: relative;
  z-index: 1;
}

/**
* 禁用中文输入法
* 1. 默认关闭输入法，但用户还可以手动开启，Firefox Linux 版不支持。
* @note: 仅 IE 5+，Firefox 3+ 支持
* @doc:  https://developer.mozilla.org/en-US/docs/Web/CSS/ime-mode
*/
.ime-inactive {
  ime-mode: inactive !important;
  /* 1 */
}

/**
* 隐藏<select>元素的下拉箭头
* 1. 隐藏 WebKit 中的下拉箭头
* 2. Firefox 存在bug，该属性不完全生效，
    https://bugzilla.mozilla.org/show_bug.cgi?id=649849
* 3. 实验数值，Firefox for Android text-indent 需要设置大于 5px
* @doc: https://gist.github.com/joaocunha/6273016
* @demo: http://jsbin.com/EdiZuvO/1/edit
*/
.select-no-appearance {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
  /* 2 */
  appearance: none;
  text-overflow: "";
  /* 3 */
  text-indent: .01px;
  /* 3 */
}

/*
* 1. 防止 OS X 中 Webfont 视觉上看起来变粗
* 2. Fiefox 25 开始支持「-moz-osx-font-smoothing:auto(默认)|grayscale」
* Demo: http://jsbin.com/iWItiQe/2
*/
.antialiased {
  -webkit-font-smoothing: antialiased;
  /* 1 */
  -moz-osx-font-smoothing: grayscale;
  /* 2 */
}

/**
* 统一用双线显示人民币符号「&yen;(￥)」
*/
.rmb,
.yuan {
  font-family: arial;
  font-style: normal;
}

/* 默认按钮样式 */
.btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: inline-block;
  border: 1px solid #ddd;
  *border: 0 none;
  border-radius: 2px;
  *margin-right: .3em;
  margin-bottom: 0;
  padding: 0 10px;
  *padding: 1px 10px;
  width: auto;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-color: #bbb !important;
  background-color: #f4f4f4;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
  background-image: linear-gradient(to bottom, #f8f8f8, #eee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
}

.btn,
.btn:hover,
.btn:visited {
  color: #333 !important;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ededed;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0);
}

.btn:active {
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#fff2f2f2', GradientType=0);
}

/* 错误 */
.btn-error {
  border-color: transparent;
  border-bottom-color: #c21b1b !important;
  background-color: #ff3636;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f44), to(#f22));
  background-image: -webkit-linear-gradient(top, #f44, #f22);
  background-image: linear-gradient(to bottom, #f44, #f22);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4444', endColorstr='#ffff2222', GradientType=0);
}

.btn-error,
.btn-error:hover,
.btn-error:visited {
  color: #fff !important;
}

.btn-error:hover {
  background-color: #e41b1b;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee2020), to(#d51314));
  background-image: -webkit-linear-gradient(top, #ee2020, #d51314);
  background-image: linear-gradient(to bottom, #ee2020, #d51314);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee2020', endColorstr='#ffd51314', GradientType=0);
}

.btn-error:active {
  background-color: #df1819;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d51314), to(#ee2020));
  background-image: -webkit-linear-gradient(top, #d51314, #ee2020);
  background-image: linear-gradient(to bottom, #d51314, #ee2020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd51314', endColorstr='#ffee2020', GradientType=0);
}

/* 警告 */
.btn-warning {
  border-color: transparent;
  border-bottom-color: #cf370c !important;
  background-color: #ff4e00;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f50), to(#f40));
  background-image: -webkit-linear-gradient(top, #f50, #f40);
  background-image: linear-gradient(to bottom, #f50, #f40);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5500', endColorstr='#ffff4400', GradientType=0);
}

.btn-warning,
.btn-warning:hover,
.btn-warning:visited {
  color: #fff !important;
}

.btn-warning:hover {
  background-color: #ef4000;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f40), to(#d73900));
  background-image: -webkit-linear-gradient(top, #f40, #d73900);
  background-image: linear-gradient(to bottom, #f40, #d73900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4400', endColorstr='#ffd73900', GradientType=0);
}

.btn-warning:active {
  background-color: #e73d00;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d73900), to(#f40));
  background-image: -webkit-linear-gradient(top, #d73900, #f40);
  background-image: linear-gradient(to bottom, #d73900, #f40);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd73900', endColorstr='#ffff4400', GradientType=0);
}

/* 主要 */
.btn-primary {
  border-color: transparent;
  border-bottom-color: #0960ab !important;
  background-color: #4288c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#488fcd), to(#3a7db8));
  background-image: -webkit-linear-gradient(top, #488fcd, #3a7db8);
  background-image: linear-gradient(to bottom, #488fcd, #3a7db8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff488fcd', endColorstr='#ff3a7db8', GradientType=0);
  background-repeat: repeat-x;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:visited {
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #3579b5;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4087c6), to(#25659c));
  background-image: -webkit-linear-gradient(top, #4087c6, #25659c);
  background-image: linear-gradient(to bottom, #4087c6, #25659c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4087c6', endColorstr='#ff25659c', GradientType=0);
}

.btn-primary:active {
  background-color: #3073ad;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25659c), to(#4087c6));
  background-image: -webkit-linear-gradient(top, #25659c, #4087c6);
  background-image: linear-gradient(to bottom, #25659c, #4087c6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25659c', endColorstr='#ff4087c6', GradientType=0);
}

.btn-disabled {
  border: 1px solid #e0e0e0;
  border-bottom-color: #ccc !important;
  cursor: default;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:visited {
  color: #ccc !important;
  background-color: #ededed;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0);
}

/* ==========================================================================
 按钮组合
 ========================================================================== */
.btn-group {
  overflow: hidden;
}

.btn-group .btn {
  float: left;
  margin: 0;
  border-radius: 0;
  border-left-width: 0;
}

.btn-group .btn-group .btn:first-child {
  border-left-width: 1px;
  border-radius: 2px 0 0 2px;
}

.btn-group .btn:last-child {
  border-radius: 0 2px 2px 0;
}

/* ==========================================================================
 按钮尺寸
 ========================================================================== */
.btn-xlarge {
  padding: 0 20px;
  height: 43px;
  line-height: 43px;
  font-size: 18px;
}

.btn-large {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}

.btn-medium {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
}

.btn-small {
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
}

.btn-xsmall {
  height: 23px;
  line-height: 23px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

/*
* 表格
* @ name:        table.css V1.0.0
* @ author:      一丝
* @ update:      2014-1-8 19:34:24;
*/
/**
* 只显示水平边框
* .table
*/
.table th,
.table table th {
  border: 0 none;
  border-bottom: 2px solid #ccc;
}

.table td,
.table table td {
  border: 0 none;
  border-top: 1px solid #ddd;
}

/**
* 隔行换色
* .table-striped
*/
.table-striped tbody tr:nth-child(odd) td {
  background-color: #fafafa;
}

/**
* 鼠标 hover 时换色
* .table-hover
*/
.type .table-hover tbody tr:hover td,
.type .table-hover thead tr:hover th {
  background-color: #f6f6f6;
}

/**
* 响应式表格
*/
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-right: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive table {
    margin: 0;
  }
  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }
  .table-responsive .table {
    border: 0 none;
  }
}

/**
* 打印样式
* @file:     print.css v1.0.0
* @author:   一丝
* @update:   2013-11-26 11:35:12;
* @doc:      https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css#L207
*/
@media print {
  /**
   * 1. 禁用所有背景色和阴影
   * 2. 黑色打印更快
   * @doc: h5bp.com/s
   */
  * {
    background-color: transparent !important;
    /* 1 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    /* 1 */
    text-shadow: none !important;
    /* 1 */
    color: #000 !important;
    /* 2 */
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "(" attr(href) ")";
  }
  abbr[title]:after {
    content: "(" attr(title) ")";
  }
  /**
   * 空链接不显示链接文字
   */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=cube.css.map */
