<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
{% include meta.html %}
  <title>{% if page.title %}{{ page.title }} - {% endif %} Cube 样式解决方案 - THX</title>
  <link rel="stylesheet"  href="{{ site.baseurl }}/src/css/cube.css">
  <link rel="stylesheet"  href="{{ site.baseurl }}/src/css/type.css">
  <link rel="stylesheet"  href="{{ site.baseurl }}/assets/syntax/github.css">
  <link rel="stylesheet"  href="{{ site.baseurl }}/assets/base.css">
  <link rel="stylesheet"  href="{{ site.baseurl }}/assets/style.css">
</head>
<body bx-app class="skin-cube">
  {{ content }}
  {% include scripts.html %}
</body>
</html>
