---
layout: page
---

<div id="page">
  {% include settings.html %}
  <div id="content">
    <div id="content-wrap">
      {% include ceiling.html %}
      {% include toc.html %}
      <article class="type">
        <h1>{{ page.title }}</h1>
        <div class="authors">
          {% for author in page.authors %}
          <address>
            <a href="{{ author.homepage }}">{{ author.name }}</a>
          </address>
          {% endfor %}
        </div>
        {{ content }}
      </article>
      {% include footer.html %}
    </div>
  </div>
  <div id="nav">
    <a href="javascript:void(0)" class="toggler" id="J_toggler">
      <i class="iconfont mi-nav"></i>
      <span class="label">导航</span>
    </a>
    <a href="{{ site.baseurl }}/" class="logo dib-box">
      <i class="iconlogo dib mi-{{ site.title | downcase }}"></i>
      <span class="logo-text dib">{{ site.title }}</span>
    </a>
    <ul class="categories menu">
    {% for category in site.categories %}
      <li>
        <a href="{{ site.baseurl }}/{{ category[0] }}" class="entry">
          <i class="iconfont mi-{{ category[0] }}"></i>
          {% if category[0] == 'apis' %}API{% else %}{{ category[0] | capitalize }}{% endif %}
        </a>
      </li>
    {% endfor %}
      {% include extra-nav.html %}
    </ul>
  </div>
</div>
