.input,
.textarea {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 2px 8px 3px;
    margin-bottom: 9px;
    line-height: 18px;
    color: #333333;
    border: 1px solid #dddddd;
    border-top-color: #bbbbbb;
    border-radius: 2px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.input:hover,
.textarea:hover {
    border-color: #cccccc;
    border-top-color: #999999;
    -webkit-box-shadow: inset 0 1px #f5f5f5;
    -moz-box-shadow: inset 0 1px #f5f5f5;
    box-shadow: inset 0 1px #f5f5f5;
}
.input:focus,
.textarea:focus {
    border-color: #488fcd;
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(72,143,205,.6);
    -moz-box-shadow: 0 0 8px rgba(72,143,205,.6);
    box-shadow: 0 0 8px rgba(72,143,205,.6);
}
.input-error,
.textarea-error {
    border-color: #ec0000;
    -webkit-box-shadow: 0 0 8px rgba(236, 0, 0, .6);
    -moz-box-shadow: 0 0 8px rgba(236, 0, 0, .6);
    box-shadow: 0 0 8px rgba(236, 0, 0, .6);
}
.input-disabled {
    cursor: not-allowed;
    border-color: #cccccc;
    color: #cccccc;
    background-color: #f5f5f5;
}
.textarea {
    padding-top: 4px;
    padding-right: 4px;
    height: auto;
}
.radio,
.checkbox {
    margin-top: 5px;
}
.radio input,
.checkbox input {
    float: left;
    _display: inline;
    border: none;
    width: auto;
    margin: 3px 4px 9px 0;
}
.control-group {
    margin-bottom: 18px;
    *zoom: 1;
}
.control-group {
    *zoom: 1;
}
.control-group:before,
.control-group:after {
    display: table;
    content: "";
}
.control-group:after {
    clear: both;
}
.control-group:before,
.control-group:after {
    display: table;
    content: "";
}
.control-group:after {
    clear: both;
}
.control-group {
    *zoom: 1;
}
.control-group:before,
.control-group:after {
    display: table;
    content: "";
}
.control-group:after {
    clear: both;
}
.control-label {
    float: left;
    width: 150px;
    padding-top: 5px;
    text-align: right;
}
.controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 160px;
    *margin-left: 0;
}
.controls:first-child {
    *padding-left: 160px;
}
.controls .inline {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
}
.controls label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
.help-block {
    margin-top: 5px;
    margin-bottom: 0;
}
.bx-controls input {
    display: none;
}
.bx-controls .control {
    float: left;
    margin-left: -19px;
    margin-bottom: 9px;
    width: 16px;
    height: 18px;
    background: url(http://img02.taobaocdn.com/tps/i2/T10ubJXkteXXbyGkri-18-360.png) 0 -178px;
}
.bx-controls .checkbox {
    padding-left: 19px;
}
.bx-controls .checkbox .checked {
    background-position: 0 -214px;
}
.bx-controls .checkbox .disabled {
    background-position: 0 -286px;
}
.bx-controls .checkbox .checked-disabled {
    background-position: 0 -322px;
}
.bx-controls .radio {
    padding-left: 19px;
}
.bx-controls .radio .control {
    background-position: 0 2px;
}
.bx-controls .radio .checked {
    background-position: 0 -34px;
}
.bx-controls .radio .disabled {
    background-position: 0 -106px;
}
.bx-controls .radio .checked-disabled {
    background-position: 0 -142px;
}