@charset "UTF-8";
/**
 *@ name:        iconfont.css V1.0.0
 *@ author:      一丝(yisibl)
 *@ update:      2013-12-20 14:30:55
 * 1. 防止读屏器读出无意义的图标
 * 2. 防止 OS X 中图标视觉变粗和细节丢失的问题
 * 3. Fiefox 25 开始支持「-moz-osx-font-smoothing:auto(默认)|grayscale」
 * Demo: http://jsbin.com/iWItiQe/2
 */
[class^="icon-"],
[class*="icon-"], .iconfont {
    font-family: "uxiconfont";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    /* 1 */
    speak: none;
    /* 2 */
    -webkit-font-smoothing: antialiased;
    /* 3 */
    -moz-osx-font-smoothing: grayscale;
}

/**
 * 引入 Web font
 * 注意：使用font-face需要 CSS 线上地址和引用的 font 线上地址同域，否则 IE9  会有 CSS3117 问题
 * CSS3117: @font-face failed cross-origin request. Resource access is restricted.
 */
@font-face {
    font-family: "uxiconfont";
    font-weight: normal;
    font-style: normal;
    src: url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.eot");
    src: url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.eot?#iefix") format("embedded-opentype"), url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.woff") format("woff"), url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.ttf") format("truetype"), url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.svg#uxiconfont") format("svg");
}

.icon-size:before {
    content: "\3436";
}

.icon-travel:before {
    content: "\346e";
}

.icon-the-scorpio:before {
    content: "\3441";
}

.icon-gemini:before {
    content: "\3444";
}

.icon-upload:before {
    content: "\3451";
}

.icon-recharge:before {
    content: "\345a";
}

.icon-insurance:before {
    content: "\346d";
}

.icon-movie-tickets:before {
    content: "\346b";
}

.icon-novice:before {
    content: "\3462";
}

.icon-rolls-of-paper:before {
    content: "\3487";
}

.icon-hiking-shoes:before {
    content: "\34a0";
}

.icon-pisces:before {
    content: "\343c";
}

.icon-aquarius:before {
    content: "\343b";
}

.icon-coloring:before {
    content: "\3432";
}

.icon-merging:before {
    content: "\3433";
}

.icon-closed-to-vehicular-traffic:before {
    content: "\3434";
}

.icon-consumer-protection:before {
    content: "\3461";
}

.icon-shop:before {
    content: "\3474";
}
