/*
*@ Name:        iconfont.css V1.0.0
*@ Author:      一丝(yisibl)
*@ Update:      2013-9-29 14:42:58;
*@ Copyright:	MIT License
* 注意：使用font-face需要 CSS 线上地址和引用的 font 线上地址同域，否则 IE9 会有 CSS3117 问题
* CSS3117: @font-face failed cross-origin request. Resource access is restricted.
*/
@font-face {
	font-family: "uxiconfont" !important;
	src: url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.eot"); /* IE9 */
	src: url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.woff") format("woff"), /* Chrome、Firefox */
		 url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.ttf") format("truetype"), /* Chrome、Firefox、Opera、Safari, Android, iOS 4.2+ */
		 url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.svg#uxiconfont") format("svg"); /* iOS 4.1- */
}

/*
 * 1. 防止 OS X 中图标视觉变粗和细节丢失的问题
 * 2. Fiefox 25 开始支持「-moz-osx-font-smoothing:auto(默认)|grayscale」
 * Demo: http://jsbin.com/iWItiQe/2
*/
.iconfont {
	font-family: "uxiconfont" !important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* 1 */
	-moz-osx-font-smoothing: grayscale; /* 2 */
}
