/**
*@ Name:        type.css V1.0.2
*@ Author:      一丝
*@ Update:      2013-12-23 9:38:42;
*@ Copyright:	MIT License
*/
body {
    font-size: 14px;
    line-height: 1.8;
}

.type {
    margin-left: auto;
    margin-right: auto;
}

.type a {
    color: #3187DB;
}

/**
 * 1. 正文链接左右一个英文空格留白
 */
.type p a {
    margin:0 .25em; /* 1 */
}

.type a:hover,
.type ins:hover {
    color: #333;
}

.type a:hover,
.type ins:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

/**
 * a 默认使用 border 来模拟下划线会占用盒模型高度，
 * 如果某些布局的地方不需要这样的下划线，使用该 class 去除。
 */
.underline-fix a:hover,
.underline-fix ins:hover {
    border: 0 none;
    text-decoration: underline;
}

.type acronym,
.type abbr {
    border-bottom: 1px dotted;
}

/**
 * 保留 i 标签斜体
 */
.type i {
    font-style: italic;
}

/**
 * 重置中文斜体
 * cite 标签通常用在书籍或杂志的标题
 *
 */
.type cite,
.type em,
.type var,
.type address,
.type dfn {
    font-style: inherit;
}

.type cite {
    border-bottom: 3px double;
}

/**
 *专名号和em
 */
.type u,
.type em {
    text-decoration: none;
    padding-bottom: 1px;
    margin-left: .25em;
}

.type u {
    border-bottom: 1px solid;
}

.type em {
    border-bottom: 1px dotted;
}


/**
 * 图片figure，figcaption
 */
.type figure {
    text-align: center;
}


/**
 * 中文小于 12px 可读性很差
 * 1. 统一 IE 6/7 中字体大小
 * 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
 */
.type p {
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.8;
}

/**
 * 中文小于 12px 可读性很差
 * 1. 统一 IE 6/7 中字体大小
 * 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
 */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/* ==========================================================================
   CSS 自动生成标题编号
   ========================================================================== */

/**
 * 传统中文排版有『章』『节』『卷』『篇』『辑』『集』『部』等概念，
 * 在网页排版中，type.css 选取如下规则：
 * 第1级--------章--------1
 * 第2级--------节--------1.1
 * 第3级--------节--------1.1.1
 * 第4级--------节--------1.1.1.1
 * -----------------------条--------1.
 * -----------------------款--------1)
 * -----------------------项--------(1)
 * 所有标点均为西文标点
 * 需要注意的是「条」比「章」后面多了「.」，「章」亦可用汉字代替，例如：「一、」
 * Firefox 有私有属性分别实现简体和繁体的汉字编号，
   -moz-simp-chinese-formal(大写)/-moz-simp-chinese-informal(小写)，
   -moz-trad-chinese-formal(大写)/-moz-trad-chinese-informal(小写)，
   参照：http://lists.w3.org/Archives/Public/public-html-ig-zh/2010Sep/0011.html
   生成类似如下格式：

   壹、章
   ----壹之一、节
   ----壹之二、节

   贰、章
   ----贰之一、节
   ----贰之二、节
   --------贰之二之一、节
   --------贰之二之二、节

 * @doc: 《科技文献的章节编号方法》（CY/T35-2001）
 */

.type h2:before,
.type h3:before,
.type h4:before,
.type h5:before,
.type h6:before {
    margin-right: .5em;
    color: #888;
}

.type {
    counter-reset: chapter section subsection;
}

/* --------------------------------------------------------------------------
   标题自动生成编号
   -------------------------------------------------------------------------- */
/**
 * 提供从h2-h4 三个级别的标题序号
 * 最终生成如下格式编号：
        1.
        1.1
        1.1.1
 * 或者在容器上加上 class="cjk"
 * 将生成如下格式编号：
        一、
        1.1
        1.1.1
 */

/**
 * 二级标题（章）
 * 输出 1
 */
.type h2 {
    counter-reset: section;
}

.type h2:before {
    content: counter(chapter);
    counter-increment: chapter;
}

/**
 * 二级标题(汉字)
 * 输出 一、
 */

.cjk h2 {
  counter-increment: section;
}

.cjk h2:before {
  content: counter(chapter, cjk-ideographic)'、';
  content: counter(chapter, cjk-cjk-decimal)'、';
  margin-right: .25em;
}

/**
 * 三级标题（节）
 * 输出 1.1
 */
.type h3 {
    counter-reset: subsection;
}

.type h3:before {
    content: counter(chapter) "." counter(section);
    counter-increment: section;
}

/**
 * 四级标题（子节）
 * 输出 1.1.1
 */
.type h4:before {
    content: counter(chapter) "." counter(section) "." counter(subsection);
    counter-increment: subsection;
}

.type blockquote {
    margin: 32px 28px;
    padding-left: 14px;
    border-left: 3px solid #CCC;
    line-height: 1.7;
}


/**
 * 列表项
 * 1. 无序列表默认使用方块
 */
.type ul {
    list-style-type: square; /* 1 */
    padding-left: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.type ul ul,
.type ul ol ul {
    list-style-type: disc;
}

.type ol {
    list-style: decimal;
    padding-left: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.type ol ol ul,
.type ol ul ul,
.type ul ul ul {
    list-style-type: circle;
}

.type ol ol ol ul,
.type ol ol ul ul,
.type ol ul ul ul,
.type ul ul ul ul {
    list-style-type: square;
}

/**
 * 列表嵌套时，去除上下边距
 */
/*.type li ul,
.type li ol,
.type ol ol li,
ol.type ol li {
  margin-top: auto;
  margin-bottom: auto;
}*/

/* --------------------------------------------------------------------------
   列表自动生成编号
   -------------------------------------------------------------------------- */
/**
 * ol 自动生成编号
 * 在 ol 或者外层容器上增加 class="decimal"
 * @demo: http://jsbin.com/aCAliTA/1/edit
 * 最终生成如下格式编号：
    1
    1.1
    1.1.1
    1.1.1.1
 */

ol.decimal,
.decimal ol {
     counter-reset: list-item;
}

ol.decimal li,
.decimal li {
  counter-increment: list-item;
}

ol.decimal li:before,
.decimal li:before {
     content: counters(list-item,".");
     margin-right: .5em;
}

/**
 * ol 自动生成编号（第一个序号为汉字）
 * 在 ol 或者外层容器上增加 class="cjk"
 * 最终生成如下格式编号：
    一、
    1.1
    1.1.1
    1.1.1.1
 */

ol.cjk li,
.cjk li {
  counter-increment: h1;
}

ol.cjk li:before,
.cjk li:before {
     content: counter(h1,cjk-ideographic)"、";
     margin-right: .25em;
}

ol.cjk,
.cjk ol {
     counter-reset: list-item;
}

ol.cjk ol li,
.cjk ol li {
  counter-increment: list-item;
}

ol.cjk ol li:before,
.cjk ol li:before {
     content: counters(list-item,".");
     margin-right: .5em;
}

/**
 * 去掉默认的列表项
 */
.decimal,
.cjk,
.decimal ol,
.cjk ol,
.type .decimal,
.type .cjk,
.type .decimal ol,
.type .cjk ol{
  list-style-type: none;
  *list-style-type: decimal;
}

/**
 * ol 内嵌套的 ul 不生成序号
 */
.decimal ul,
.cjk ul{
    list-style-type: square;
    list-style-position: inside;
}

.decimal ul li:before,
.cjk ul li:before{
  content: none !important;
}

.type dt {
    font-weight: bold;
    margin-top: 14px;
}

/**
 * 表格
 * 1. 表格隔行换色
 */
.type th {
    font-weight: inherit;
}

.type th,
.type td {
    border: 1px solid #CCC;
    padding: 5px 10px;
}

.type table tr:nth-child(odd) td {
    background-color: #f5f5f5; /* 1 */
}

/* 代码 */
.type code {
    margin: 0 .25em;
    padding: 0 .4em;
    border: 1px solid #DDD;
    background-color: #F8F8F8;
    border-radius: 3px;
}

.type pre {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 12px;
    line-height: 18px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    word-break: break-all;
    word-wrap: break-word;
}

/**
 * 通常代码高亮 code 标签会嵌套在 pre 标签内部，需要重置样式。
 */
.type pre code {
    margin: 0;
    padding: 0;
    border: 0 none;
    background: none;
    border-radius: 0;
    font-size: inherit;
}

.type hr {
    border: 0 none;
    border-bottom: 1px solid #999;
    margin-top: 14px;
    margin-bottom: 14px;
}



